<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
    <h1>🎖My Dev Skills🎖</h1>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
            <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
            <form action="/skills/<%= skill.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add New Skills</a>
    <br>
    <br>
    <a href="/">Home Page</a>
  </body>
</html>


