<!DOCTYPE html>
 <html>
   <head>
     <title><%= title %></title>
     <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
     <h1> GA Dev Skills as of <%= time %></h1>
     <a href="/skills">Dev-Skills</a>
   </body>
 </html>